* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px; /* or 1rem */
    padding: 16px;
    box-sizing: border-box;
  }

  .img {
    width: 50%;
    height: auto;
  }

  .h3 {
    margin: 10px;
  }

  .para {
    display: -webkit-box;
    -webkit-line-clamp: 2;   /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .card {
    /* width: 270px; */
    padding: 16px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  